blinker==1.9.0
click==8.1.7
Flask==3.0.2
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
MarkupSafe==3.0.2
ply==3.11
pyasn1==0.6.0
pycryptodomex==3.20.0
pymodbus==2.5.3
pyserial==3.5
pysmi==0.3.4
pysnmp==4.4.12
python-dotenv==1.0.1
six==1.16.0
Werkzeug==3.1.3
